body{
    margin: 0;
    padding: 0;
}
.title{
    color: red;
    text-align: center;
    border: 1px solid green;
    width: 20%;
    margin: 5px auto;
}
.parents{
    display: flex;
    text-align: center;
    border: 2px solid crimson;
    width: 70%;
    margin: 10px auto;
}
.image{
    display: flex;
    justify-content: space-around;
    margin: 20px;

}
.img{
    margin-left: 600px;
    margin-right: 600px;
       
}
.sylhet{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: thistle;
   
}
.dhaka{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: thistle;
}
.chittagong{
    text-align: center;
    border: 3px solid black;
    width: 20%;
    margin: 10px auto;
    background-color: thistle;
}
.section{
    display: flex;
}
.image-a{
    border: 2px solid red;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.image-b{
    border: 2px solid red;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.image-c{
    border: 2px solid red;
    margin-top: 10px;
     margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.text{
    background-color: green;
    color: white;
    text-align: center;
  
}